.base {
  height: 40vh;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 3px #00000020;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

